#rtSideMain{
    display: flex;
    width: 1216px;
    height: 1608px;
    padding: 48px;
    gap: 24px;    
    background: rgba(244, 247, 254, 1);
}

#frame785{
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 1512px;
    padding: 0px 0px 176px 0px;
    gap: 24px;    
}

#newGoal{
    position: relative;
    width: 1120px;
    height: 224px;
    gap: 48px;
    overflow: hidden;
    border-radius: 32px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(211, 219, 236, 1);
    box-shadow: 0px 4px 12px 0px rgba(65, 85, 141, 0.16);
}

#calculator{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 1088px;
    padding: 32px 0 0 0;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid rgba(211, 219, 236, 1);
    background: rgba(255, 255, 255, 1);
}

#filterSearchAndSortMainBox{
    position: relative;
    left: 32px;
    display: flex;
    width: 1056px;
    height: 40px;
    gap: 12px;    
}

#filterSearchAndSortInsideBox{
    display: flex;
    width: 1056px;
    height: 40px;
    justify-content: space-between;    
}

#trackGoalTxt{
    width: 206px;
    height: 32px;   
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(45, 45, 45, 1);     
}

#frame302{
    display: flex;
    width: 591px;
    height: 40px;
    gap: 24px;    
}


#filterBox{
    display: flex;
    position: relative;
    top: 6px;
    width: 75px;
    height: 28px;
    padding: 4px 6px 4px 10px;
    gap: 2px;
    border-radius: 100px;    
}


#filterTxt{
    width: 41px;
    height: 20px;    
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(65, 85, 141, 1);
}

#filterIconBox{
    width: 16px;
    height: 16px;    
}

#filterIcon{
    position: absolute;
    width: 10.69px;
    height: 10.67px;
    top: 8.67px;
    left: 55.65px;    
}


#sortMainBox{
    display: flex;
    position: relative;
    top: 10px;
    width: 222px;
    height: 20px;
    gap: 4px;    
}

#sortTxt{
    width: 50px;
    height: 20px;
    margin: 0;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(114, 114, 114, 1);      
}

#sortingBox{
    display: flex;
    width: 168px;
    height: 20px;    
}

#sortingTxt{
    width: 148px;
    height: 20px;    
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(65, 85, 141, 1);    
}

#dropArrBox{
    position: absolute;
    width: 20px;
    height: 20px;    
}

#dropArrIcon{
    position: absolute;
    width: 8.33px;
    height: 4.17px;
    top: 8.33px;
    left: 136.83px;    
}

#serachBox{
    position: relative;
    display: flex;
    width: 246px;
    height: 40px;
    gap: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(211, 219, 236, 1);
}

#searchIconBox{
    width: 24px;
    height: 24px;    
}

#searchIcon{
    position: relative;
    width: 17.19px;
    height: 17.19px;
    top: 11.38px;
    left: 5.4px;    
}

#serchInput{
    width: 240px;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#allCardsMainBox{
    position: relative;
    left: 32px;
    display: flex;
    flex-direction: column;
    width: 1056px;
    height: 904px;
    gap: 24px;    
}

#alertBox{
    display: none;
}

#lineAboveAllCards{
    position: absolute;
    top: 0px;
    margin: 0px;
    width: 1056px;
    height: 0px;
    border: 1px solid rgba(211, 219, 236, 1);    
}

#allCardsOuterBox{
    display: flex;
    position: absolute;
    top: 24px;
    width: 1056px;
    height: 880px;    
    gap: 10px;
}

#allCardsInsideBox{
    display: flex;
    flex-wrap: wrap;
    width: 1056px;
    height: 880px;
    gap: 24px;
    border: 1px 0px 0px 0px;      
}


#pageNumBox{
    position: relative;
    top: 24px;
    left: 854px;
    display: flex;
    width: 234px;
    height: 32px;
    gap: 24px;
}

#textOfShowingPage{
    position: relative;
    top: 4px;
    width: 122px;
    height: 24px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
    color: rgba(114, 114, 114, 1);
}
#textOfShowingPage > span{
    color: rgba(45, 45, 45, 1);
}

#ltArrBox,#rtArrBox{
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    gap: 10px;
    border-radius: 24px;    
    background: rgba(244, 247, 254, 1);
    cursor: pointer;
}

#pageLeftArr,#pageRightArr{
    width: 24px;
    height: 24px;
    color: rgba(162, 169, 187, 1);    
}

#leftArrIcon, #righttArrIcon{
    position: absolute;
    width: 6.71px;
    height: 11.31px;
    top: 10.35px;
    left: 12.35px;    
}




@media screen and (max-width:360px) {

    #rtSideMain{
        background-color: white;
    }

    #frame785{
        background: white;
        width: 360px;
        position: absolute;
        top: 120px;
        left: 0px;
    }
    #newGoal{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 304px;
        padding: 24px 16px;
        gap: 24px;
        background: rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(211, 219, 236, 1);
        border-radius: 0px;
    }

    #calculator{
        position: relative;
        top: 320px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        height: 2802px;
        padding: 24px 0px;
        border-radius: 0px;
        gap: 24px;      
        background: rgba(255, 255, 255, 1);
        border-color: 1px 0px solid rgba(211, 219, 236, 1); 
    }

    #filterBox,#sortMainBox,#lineAboveAllCards{
        display: none;
    }

    #filterSearchAndSortInsideBox{
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    #trackGoalTxt{
    position: relative;
    left: 0px;
    width: 328px;
    height: 28px;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(45, 45, 45, 1);        
    }
    #serachBox{
    position: relative;
    top: 20px;
    }

    #alertBox{
        position: relative;
        top: 40px;
        display: flex;
        width: 360px;
        height: 38px;
        padding: 12px 16px 10px 16px;
        gap: 4px; 
        background-color: rgba(244, 247, 254, 1);    
        border-width: 1px, 0px, 1px, 0px;
        border-style: solid;
        border-color: rgba(211, 219, 236, 1);           
    }

    #alertBox>img{
        position: absolute;
        top: 12px;
        left: 59.5px;
        width: 16px;
        height: 16px;        
    }

    #alertBox span{
        position: absolute;
        left: 77px;
        width: 251px;
        height: 16px;
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        color: rgba(87, 87, 87, 1);                
    }

    #allCardsMainBox{
        position: relative;
        display: flex;
        top: 15px;
        left: 15px;
        width: 350px;
        height: 1856px;
        padding: 0px 16px ;
        gap: 10px;        
    }

    #allCardsInsideBox,#allCardsOuterBox{
        position: absolute;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 328px;
        height: 1856px;
        gap: 24px;
        border: 1px;
    }

    #filterSearchAndSortInsideBox,#filterSearchAndSortMainBox,#frame302{
    width: 360px;
    }

    #pageNumBox{display: none;
    }
}